* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --bg-primary-color: #003C43;
  --bg-secondary-color: #135D66;
  --text-color: #EEEEEE;
  --text-secondary-color: #b8b8b8;
  --secondary-color: #77B0AA;
}

/* GERAL */

body {
  font-family: "Outfit", sans-serif;
  color: var(--text-color);
}

.hidden {
  display: none;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 150px;

  user-select: none;
  padding: 20px 250px;

  position: sticky;
  top: 0px;

  background-color: var(--bg-primary-color);
}

/* Title */

.page-title {
  display: flex;
  flex-direction: row;
  gap: 8px;

  font-weight: 400;
  font-size: 32px;
  color: var(--text-color);

  transition: transform .2s;
}

.page-title div {
  color: var(--secondary-color);
}

.page-title:hover {
  transform: scale(1.1);
}

/* Nav-Links */

.nav-links, .nav-links ul {
  font-size: 20px;
  font-weight: 400;

  display: flex;
  align-items: center;
  gap: 30px;

  list-style: none;
}

.NavItem {
  transition: opacity .2s;
  color: var(--text-color);
}

.NavHover {
  opacity: 0.3;
}

.nav-links button {
  border: none;
  background: none;

  cursor: pointer;

  display: none;
  align-items: center;

  color: var(--text-color);
  font-size: 40px;

  transition: color .2s, transform .2s;
}

.nav-links button:hover {
  color: var(--secondary-color);
  transform: scale(1.1);
}

@media (max-width: 1400px) {

  .page-title {
    font-size: 28px;
  }

  header {
    padding: 20px 120px;
  }

  .nav-links ul {
    display: none;
  }

  .nav-links button {
    display: flex;
  }
}

@media (max-width: 800px) {
  
  .page-title {
    font-size: 24px;
  }

  header {
    padding: 20px 100px;
    gap: 50px;
  }

}

@media (max-width: 600px) {

  header {
    padding: 20px 30px;
    gap: 50px;
  }

}