* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --bg-primary-color: #003C43;
  --bg-secondary-color: #135D66;
  --text-color: #f0fdfa;
  --text-secondary-color: #b8b8b8;
  --secondary-color: #0f766e;
  --contrast-color: #ffc4bc;
  --card-color: #042f2e;
}

/* MAIN AREA */

main {
  height: 1080px;

  background: linear-gradient(var(--bg-primary-color) 0%, var(--secondary-color) 100%);
}

/* GERAL AREA */

.title {
  color: var(--text-color);

  text-align: center;
  padding-top: 150px;
  padding-bottom: 120px;

  font-size: 42px;
  user-select: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ABOUTME AREA */

.aboutme {
  background: linear-gradient(var(--secondary-color) 0%, var(--bg-primary-color) 100%);
  height: 1080px;
}

/* TECHS AREA */

.skills {
  background: linear-gradient(var(--bg-primary-color) 10%, var(--bg-secondary-color) 100%);
  height: auto;
}

.tech-area {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;

  padding-bottom: 210px;
}

.tech-box {
  background: var(--card-color);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  font-size: 15px;

  padding: 40px 20px;
  width: auto;
  max-width: 260px;
  height: 100%;

  outline: 3px solid;

  transition: all .3s;
}

.tech-box h1 {
  font-size: 20px;
}

.tech-box img {
  width: 80px;
  border-radius: 10px;
}

.tech-box p {
  color: var(--text-secondary-color);
  font-size: 15px;
  text-align: center;
}

.tech-box:hover {
  outline-color: white!important;
  background-color: var(--bg-primary-color);
  transform: scale(1.03);
}

/* PROJETCS AREA */

.projects {
  background: linear-gradient(var(--bg-secondary-color) 0%, var(--secondary-color) 100%);
  height: 1080px;
}

/* CONTACT AREA */

.contact {
  background: linear-gradient(var(--secondary-color) 0%, var(--bg-primary-color) 100%);
  padding-bottom: 250px;
}

.social-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.social-links li {
  background: var(--card-color);
  padding: 25px;
  border-radius: 15px;
  outline: 2px solid;
  transition: all .4s;
}

.social-links li:hover {
  background-color: var(--bg-primary-color);
  outline-color: var(--text-color)!important;
  fill: var(--text-color)!important;
  transform: scale(1.1);
}

footer {
  background-color: var(--bg-primary-color);
  height: 80px;
}

/* RESPONSIVE */

@media (max-width: 1300px) {
  .tech-area {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1300px) {
  .tech-box img {
    width: 70px;
  }

  .tech-area {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .title {
    font-size: 36px;
  }

  .tech-area {
    grid-template-columns: repeat(1, 1fr);
  }

  .tech-box h1 {
    font-size: 18px;
  }

  .tech-box p {
    font-size: 16px;
  }

  .tech-box img {
    width: 60px;
  }
}