* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --bg-primary-color: #003C43;
  --bg-secondary-color: #135D66;
  --text-color: #EEEEEE;
  --text-secondary-color: #b8b8b8;
  --secondary-color: #77B0AA;
}

/* MAIN AREA */

main {
  height: 1080px;
}

.title {
  text-align: center;
  padding-top: 150px;

  font-size: 42px;
}

.aboutme {
  background-color: var(--bg-secondary-color);
  height: 1080px;
}

.skills {
  background-color: var(--bg-primary-color);
  height: 1080px;
}

.projects {
  background-color: var(--bg-secondary-color);
  height: 1080px;
}

.contact {
  background-color: var(--bg-primary-color);
  height: 1080px;
}

footer {
  background-color: var(--bg-secondary-color);
  height: 150px;
}

/* RESPONSIVE */

@media (max-width: 1485px) {

  .aside {
    display: none;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;

    padding: 0px 30px 100px;
  }

  .welcome {
    display: flex;
    flex-direction: row;
    gap: 150px;
  }

  .welcome .background-response img {
    display: flex;
  }

  .welcome .line {
    margin-bottom: 20px;
  }
}

@media (max-width: 1200px) {

  main {
    padding: 0px 20px 100px;
  }

  .welcome .background-response {
    display: none;
  }
}

@media (max-width: 750px) {

  main {
    padding: 0px 100px;
  }

  .welcome p {
    font-size: 40px;
  }
}