* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --bg-primary-color: #222831;
  --bg-secondary-color: #393E46;
  --text-color: #EEEEEE;
  --text-secondary-color: #b8b8b8;
  --secondary-color: #5ed881;
}


/* MAIN AREA */

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.welcome .line {
  background-color: white;

  margin: 40px 0;
  width: 200px;
  height: 5px;
}

.welcome {
  font-weight: 500;
  font-size: 52px;
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 50px;

  width: 300px;
}

.aside h1 {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-size: 30px;
}

.aside p {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 20px;

  color: var(--text-secondary-color);
}

.aside a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  color: var(--text-color);
  font-size: 20px;
  text-decoration: underline transparent 2px;
  transition: gap .3s, text-decoration .3s;

  user-select: none;

  margin-top: 25px;
}

.aside .line {
  background-color: var(--text-secondary-color);

  width: 250px;
  height: 2px;
}

.aside a:hover {
  text-decoration: underline var(--secondary-color) 2px;
  gap: 15px;
}

.aside-about {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 10px solid var(--secondary-color);
  border-radius: 50px 20px;

  height: 320px;
  width: 420px;
}

.aside-about img {
  margin-top: 60px;
  height: 320px;

  background-color: var(--bg-primary-color);

  border: 20px solid var(--secondary-color);
  border-radius: 20px 50px;
}

@media (max-width: 1650px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;

    padding: 40px 50px 100px;
  }

  .welcome .line {
    margin-bottom: 20px;
  }

  .aside  {
    display: flex;
    flex-direction: row;
    gap: 60px;

    width: auto;
  }

  .aside .line {
    display: none;
  }
}

@media (max-width: 1050px) {

  main {
    padding: 30px 20px 100px;
  }

  .aside {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
}

@media (max-width: 750px) {

  main {
    padding: 30px 0px 100px;
  }

  .aside h1 {
    font-size: 25px;
  }

  .welcome p {
    font-size: 40px;
  }
}