* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

/* GERAL */



/* HEADER */

header {
  padding: 40px 30px 0;
}

header {
  display: flex;
  justify-content: space-between;
}

header h1 {
  display: flex;
  align-items: center;
  gap: 10px;

  font-weight: 600;
  font-size: 38px;
}

header h1 div {
  color: rgb(50, 177, 99);
}

header #buttons {
  display: flex;
  gap: 20px;
}

header #buttons button {
  border: none;
  background: none;
  
  font-size: 20px;
  font-weight: 500;
}

header #buttons button ion-icon {
  display: flex;
  align-items: center;
  font-size: 48px;
}