* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

:root {
  --bg-primary-color: #222831;
  --bg-secondary-color: #393E46;
  --primary-color: #EEEEEE;
  --secondary-color: #5ed881;
}

/* GERAL */

body {
  background-color: var(--bg-primary-color);
  color: var(--primary-color);
  padding: 40px 150px 0;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  
  user-select: none;
}

header h1 {
  display: flex;
  align-items: center;
  gap: 10px;

  font-weight: 500;
  font-size: 38px;

  transition: transform .3s;
}

header h1:hover {
  cursor: pointer;
  transform: scale(1.1);
}

header h1 div {
  color: var(--secondary-color);
}

header #buttons {
  display: flex;
  gap: 20px;
}

header button {
  border: none;
  background: none;
  
  font-size: 20px;
  font-weight: 400;
  color: var(--primary-color);

  /* TRANSITION FOR HOVER BUTTONS */
  text-decoration: underline transparent 2px;
  transition: color .3s, text-decoration .3s, transform .3s;
}

header button ion-icon {
  display: flex;
  align-items: center;
  font-size: 48px;

  /* TRANSITION FOR HOVER BUTTONS */
  transition: color .5s;
}

/* HOVER BUTTONS */

header button:hover {
  cursor: pointer;
  text-decoration: underline var(--secondary-color) 2px;
  transform: scale(1.1);
}

header ion-icon:hover {
  color: var(--secondary-color);
}